.beams {
    background-image: url('../../public/beams/hero@75.jpg');
    background-size: 150rem;
  }
  
  :global(.dark) .beams {
    background-image: url('../../public/beams/hero-dark@90.jpg');
    background-size: 86.125rem;
  }
  
  /* ANIMATED BORDER */
  .magic {
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .magic::before {
    content: '';
    background-image: conic-gradient(#3B82F6 20deg, transparent 120deg);
    width: 270%;
    height: 270%;
    position: absolute;
    animation: rotate 6s linear infinite;
  }

  .magic::after {
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B82F6;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .glass-container {
    position: relative;
  }

  .glass-container::before {
    @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
    content: '';
  }

  